set completion-query-items 10000
set completion-ignore-case On
#
# This is how you'd disable VIM mode in readline inputing
# for a specific application:
#
# $if !Gdb
#     set editing-mode vi
# $endif
#
set editing-mode vi
set keymap vi-command
".":insert-last-argument
" ":";"
set keymap vi-insert
$if gdb
"\C-l":"refresh\n"
$else
"\C-l":clear-screen
$endif
"\C-a":beginning-of-line
"\C-e":end-of-line
"\C-w":backward-kill-word
"jk":vi-movement-mode
set colored-stats on
set colored-completion-prefix on
