set completion-query-items 10000
set completion-ignore-case On
set editing-mode vi
set keymap vi-command
".":insert-last-argument
set keymap vi-insert
"\C-l":clear-screen
"\C-a":beginning-of-line
"\C-e":end-of-line
"\C-w":backward-kill-word
