*VT100*foreground:      grey66
*VT100*colorBDMode:     true
*VT100*background:      black
*VT100*saveLines:       2500
*VT100*scrollBar:       true
*VT100*visualBell:      true
!*XTerm*font:            DejaVu Sans Mono
!*XTerm*faceName:        DejaVu Sans Mono
*XTerm*font:            Droid Sans Mono
*XTerm*faceName:        Droid Sans Mono
*XTerm*faceSize:        12
!
!*XTerm*font:            -b&h-lucida console-medium-r-semi condensed--0-0-0-0-m-0-iso8859-7
!*XTerm*faceName:        -b&h-lucida console-medium-r-semi condensed--0-0-0-0-m-0-iso8859-7
!
!*XTerm*font:            -b&h-Lucida Console-medium-r-semi condensed--0-0-0-0-m-0-iso8859-7
!*XTerm*faceName:        -b&h-Lucida Console-medium-r-semi condensed--0-0-0-0-m-0-iso8859-7
!
*XTerm*renderFont:      true
! To write in Greek, set this in your .bashrc
!    XTERM_LOCALE=el_GR.iso88597
! and uncomment this:
!*XTerm*locale:          true

! http://unix.stackexchange.com/questions/119679/completion-of-words-on-the-screen-as-in-vim-bash-or-tmux
XTerm*VT100.Translations: #override \n\
     Meta <Key>/:dabbrev-expand() \n\
     Shift <Key>Right: insert-selection(PRIMARY) \n\
     Shift <Key>Up: scroll-back(4) \n\
     Shift <Key>Down: scroll-forw(4) \n\
     Shift <Btn1Up>: exec-formatted("c '%t'", PRIMARY)
! http://lukas.zapletalovi.com/2013/07/hidden-gems-of-xterm.html
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
XTerm*on3Clicks: regex ([[:alpha:]]+://)?([[:alnum:]!#+,./=?@_~-]|(%[[:xdigit:]][[:xdigit:]]))+
