ipython2 profile create
vi .ipython/profile_default/ipython_config.py 
(and add these two things for autoreload-ing:
  
# A list of dotted module names of IPython extensions to load.
c.InteractiveShellApp.extensions = ['autoreload']

# lines of code to run at IPython startup.
c.TerminalIPythonApp.exec_lines = ['%autoreload 2']

After that, run ipython2 and just...

from foo import bar
bar()

(edit foo.py)

bar() # updated version!
